{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}

      <div class='categorias'>

        {% if results %}

          {% for categoria in results %}
          <p>
          <div class='cat_img'>
            
              <div><a href="{{ path('app_porcategoria', {'id': categoria.id})}}"><img src='../../image/{{categoria.img}}'></a></div>
              <div class='texto_cat'>{{categoria.nombre}}</div>
              
          </div>
          </p>  
          {% endfor %}

        {% else %}
        <p>No se encontraron resultados.</p>
        {% endif %}

      </div>
 

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {

        initializeLoadingScreen();
               
    });


</script>
{% endblock %}
