{% extends 'base.html.twig' %}
{% block title %}Mensajes{% endblock %}

{% block body %}
 
<div id="lista-usuarios" data-id-usuario-seleccionado="">
    <div class="panel">
        <div class="panel-izquierdo" id="list_usuarios">
            
            {% include 'mensajes/lista_usuarios.html.twig' %}
        </div>
        <div class="panel-derecho" id="panel-derecho">
            <div id="conversacion">
                <p class='p-2'>Seleccione un usuario para ver la conversación.</p>
            </div>
            
        </div>
    </div>
</div>
    <div class='panel_msg'>
    {{ form_start(form_mensajes, {'attr': {'id': 'form_mensajes', 'style': 'display: none;'}}) }}
    <div class="input-container">
        {{ form_row(form_mensajes.texto, {'attr': {'class': 'input-text'}}) }}
        <button type="submit" id="enviarMensaje" class="submit-button">Enviar</button>
    </div>
    {{ form_end(form_mensajes) }}
</div>
 


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {
 
    $('.usuario').click(function() {
       
        const usuarioId = $(this).data('id');
        actualizarListaUsuarios(usuarioId);
        $('#lista-usuarios').attr('data-id-usuario-seleccionado', usuarioId); 
        
        $('#usuario_' + usuarioId).css('background-color', 'gray'); 

        cargarConversacion(usuarioId);
        
});


    $('#form_mensajes').submit(function(event) {
        event.preventDefault(); 
        var usuarioId = $('#lista-usuarios').attr('data-id-usuario-seleccionado'); 
        $.ajax({
            url: '/enviar_mensaje/' + usuarioId,
            method: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                if (response.success) {
                    cargarConversacion(usuarioId);
                    $('#form_mensajes')[0].reset();
                } else {
                    console.error('Error al enviar el mensaje.');
                }
            },
            error: function() {
                console.error('Error al enviar el mensaje.');
            }
        });
    });
    

    mostrarFormularioMensaje = (mostrar) => {
        if (mostrar) {
            $('#form_mensajes').show();
        } else {
            $('#form_mensajes').hide();
        }
    }

   
    cargarConversacion = (usuarioId) => {
        $.ajax({
            url: '/cargar_conversacion/' + usuarioId,
            method: 'GET',
            success: function(data) {
                $('#conversacion').html(data);
                
                var panelDerecho = $('#panel-derecho');
                panelDerecho.scrollTop(panelDerecho.prop("scrollHeight"));
                actualizarListaUsuarios(usuarioId);
                mostrarFormularioMensaje(true);
                
            },
            error: function() {
                console.error('Error al cargar la conversación.');
            }
        });
    }
    actualizarListaUsuarios = (usuarioId) => {
        $.ajax({
            url: '/actualizar_lista_usuarios',
            method: 'GET',
            success: function(data) {
                $('#list_usuarios').html(data);
                $('#usuario_' + usuarioId).css('background-color', 'gray'); 
            },
            error: function() {
                console.error('Error al actualizar la lista de usuarios.');
            }
        });
    }

});
</script>

{% endblock %}